body{
  font-family:Arial;
  background:#f3f3f3;
  margin:0;
}

.header{
  background:#131921;
  color:#fff;
  padding:10px;
}

.product-page{
  display:flex;
  gap:30px;
  padding:30px;
}

.images img{
  width:400px;
}

.details{
  background:#fff;
  padding:20px;
  border-radius:10px;
}

button{
  display:block;
  margin-top:10px;
  padding:10px;
  background:#ff9900;
  border:none;
  cursor:pointer;
}
