/* SEARCH */
.search-box{
  display:flex;
  width:50%;
}
.search-box input{
  width:100%;
  padding:8px;
  border:none;
}
.search-box button{
  background:#ff9900;
  border:none;
  padding:8px;
  cursor:pointer;
}

/* HEADER */
.header{
  background:#131921;
  color:#fff;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:10px 20px;
}

/* NAV */
.nav{
  background:#232f3e;
}
.nav ul{
  display:flex;
  list-style:none;
  gap:30px;
  padding:10px 20px;
  color:#fff;
}

.menu{
  position:relative;
  cursor:pointer;
}

/* DROPDOWN */
.dropdown{
  position:absolute;
  top:40px;
  left:0;
  background:#fff;
  color:#000;
  display:none;
  flex-direction:column;
  min-width:150px;
  box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

.dropdown a{
  padding:10px;
  text-decoration:none;
  color:#000;
}
.dropdown a:hover{
  background:#eee;
}

/* SHOW MENU */
.menu:hover .dropdown{
  display:flex;
}
